<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'> -->
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="pomodoro.css">
    <link rel='stylesheet ' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <title>Pomo-Do-ro</title>
</head>
<body class="color">


    <div class="container text-center" style="margin-top: 500px;">
        <!-- <header class="page-header">
            <h1>Pomodoro Clock</h1>
        </header> -->

        
    <div class="box container">

        <div>
            <img src="tomato.png" alt="tomato" width="100px" height="100px">

        </div>

        <!-- <form action="POST"> -->

        <div class="task">

            <!-- <h1>Task 1</h1>
            <h1>Task 2</h1> 
            <h1>Task 3</h1> -->

            <% if (data){   data.forEach(row=>{ %>
                <h1><%= row.description %></h1>
                <br>
            <%  }) } %>
            

        </div>
        
       
        
        <div>

            
            <img src="tomato.png" alt="tomato"  width="100px" height="100px">


        </div>

    </div>

            <div id="custom" class="custom">
                <div id="session" class="session inlineb">
                    <!-- <p id="session-head">Session</p> -->
                    <button type="button" id="up-session" class="btn btn-default inlineb" aria-label="Increase Session Time"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        <p id="session-time" class="inlineb">25</p>
                    <button  type="button" id="down-session" class="btn btn-default inlineb" aria-label="Decrease Session Time"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
            </div>
            <div id="break" class="break inlineb">
                <!-- <p id="break-head">Break</p> -->
                    <button  type="button" id="up-break" class="btn btn-default inlineb" aria-label="Increase Break Time"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button>
                        <p id="break-time" class="inlineb">5</p>
                    <button  type="button" id="down-break" class="btn btn-default inlineb" aria-label="Decrease Break Time"><span class="glyphicon glyphicon-minus" aria-hidden="true"></button>
            </div>
            

    
        

		<div id="timer-count" class="timer-count">
			<span id="minutes">25</span>:<span id="seconds">00</span>
        </div>

        <div id="controls" class="controls">
            <button type="button" id="start" title="Start Timer" class="btn btn-default btn-lg" aria-label="Start Timer"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></button>
            <button type="button" id="reset" title="Reset Timer" class="btn btn-default btn-lg" aria-label="Reset Timer"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
            <button type="button" id="mute" title="Mute Alarm" class="btn btn-default btn-lg" aria-label="Mute Alarm"><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></button>
            <button type="button" id="loop" title="Turn Off Loop" class="btn btn-default btn-lg" aria-label="Turn Off Loop"><span class=" glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
        </div>

        <audio id="tone" src="assets/audio/electronic_chime.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="assets/js/index.js"></script>


    <!-- <button>Edit </button> -->

    <div>

    <h3>4 25 minute focus periods, 4 5 minute breaks, on the fifth break it's 35 minutes</h3>
    </div>


    <div>
        <h2>Task</h2> 
        <textarea name="" id="" cols="30" rows="10" style="font-size: 20pt">


        </textarea>
    </div>
    <div class="links">

        <a target="_blank" href="https://www.samhsa.gov/find-help/national-helpline%22%3E">I feel overwhelmed</a>
        <a target="_blank" href="https://uhs.umich.edu/tenthings">Mental Health Tips</a>

    </div>

   
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="index.js"></script>


    
</body>
</html>